{{- if .Values.httproute.enabled -}}
---
{{- $fullName := include "py-app.fullname" . -}}
{{- $svcPort := .Values.service.port -}}
{{- $gatewayName := required "httproute.gatewayName is required and cannot be empty" .Values.httproute.gatewayName -}}

apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: {{ $fullName }}
  namespace: {{ .Release.Namespace }}
  {{- with .Values.httproute.annotations }}
  annotations: {{ toYaml . | nindent 4 }}
  {{- end }}
  labels: {{- include "py-app.labels" $ | nindent 4 }}
    {{- with .Values.httproute.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  parentRefs:
    - name: {{ $gatewayName }}
      {{- with .Values.httproute.gatewayNamespace }}
      namespace: {{ . }}
      {{- end }}
      kind: Gateway
      group: gateway.networking.k8s.io
      sectionName: {{ .Values.httproute.httpsListenerName }}
  {{- with .Values.httproute.hostnames }}
  hostnames: {{ tpl (toYaml .) $ | nindent 4 }}
  {{- end -}}
  {{ range .Values.httproute.rules }}
  rules:
    - backendRefs:
        - name: {{ $fullName }}
          port: {{ $svcPort }}
      {{- with .filters }}
      filters: {{ toYaml . | nindent 8 }}
      {{- end }}
      {{- with .matches }}
      matches: {{ toYaml . | nindent 8 }}
      {{- end }}
    {{- end}}
---
{{- if .Values.httproute.httpsRedirect.enabled }}
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: {{ $fullName }}-https-redirect
  namespace: {{ .Release.Namespace }}
  {{- with .Values.httproute.annotations }}
  annotations: {{ toYaml . | nindent 4 }}
  {{- end }}
  labels: {{- include "py-app.labels" $ | nindent 4 }}
    {{- with .Values.httproute.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  {{- with .Values.httproute.hostnames }}
  hostnames: {{ tpl (toYaml .) $ | nindent 4 }}
  {{- end }}
  parentRefs:
    - name: {{ $gatewayName }}
      {{- with .Values.httproute.gatewayNamespace }}
      namespace: {{ . }}
      {{- end }}
      kind: Gateway
      group: gateway.networking.k8s.io
      sectionName: {{ .Values.httproute.httpListenerName }}
  rules:
    - filters:
        - type: RequestRedirect
          requestRedirect:
            scheme: https
            statusCode: 301
{{- end }}
{{- end }}
