{{- if .Values.taskiq.schedulerCmd }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "py-app.fullname" . }}-tkq-scheduler
  labels:
    {{- include "py-app.labels" . | nindent 4 }}
spec:
  replicas: 1 # This value should always be 1
  selector:
    matchLabels:
      {{- include "py-app.selectorLabels" . | nindent 6 }}
      deployment_type: tkq-scheduler
  template:
    metadata:
      {{- $podAnnotations := merge (deepCopy (default dict .Values.podAnnotations)) (default dict .Values.instrumentation.annotations) }}
      {{- with $podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- $baseSelectorLabels := (include "py-app.selectorLabels" . | fromYaml) }}
      {{- $_ := set $baseSelectorLabels "deployment_type" "tkq-scheduler" }}
      {{- $mergedLabels := merge $baseSelectorLabels (default dict .Values.instrumentation.labels) }}
      labels:
        {{- toYaml $mergedLabels | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "py-app.serviceAccountName" . }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command: {{ .Values.taskiq.schedulerCmd | toYaml | nindent 10 }}
          {{- include "py-app.envs" . | indent 10 -}}
          resources:
            {{- toYaml .Values.taskiq.resources | nindent 12 }}
{{- end }}
