{{- if .Values.taskiq.workerCmd }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "py-app.fullname" . }}-tkq
  labels:
    {{- include "py-app.labels" . | nindent 4 }}
spec:
  {{- if not .Values.taskiq.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  {{- with .Values.updateStrategy }}
  strategy:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "py-app.selectorLabels" . | nindent 6 }}
      deployment_type: tkq-worker
  template:
    metadata:
      {{- $instrumentationAnnotations := ternary (default dict .Values.instrumentation.annotations) dict .Values.taskiq.instrumentation.enabled }}
      {{- $podAnnotations := merge (deepCopy (default dict .Values.podAnnotations)) $instrumentationAnnotations }}
      {{- with $podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- $baseSelectorLabels := (include "py-app.selectorLabels" . | fromYaml) }}
      {{- $_ := set $baseSelectorLabels "deployment_type" "tkq-worker" }}
      {{- $instrumentationLabels := ternary (default dict .Values.instrumentation.labels) dict .Values.taskiq.instrumentation.enabled }}
      {{- $mergedLabels := merge $baseSelectorLabels $instrumentationLabels }}
      labels:
        {{- toYaml $mergedLabels | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "py-app.serviceAccountName" . }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command: {{ .Values.taskiq.workerCmd | toYaml | nindent 10 }}
          {{- include "py-app.envs" . | indent 10 -}}
          resources:
            {{- toYaml .Values.taskiq.resources | nindent 12 }}
{{- end }}
